
<header class="page-header">
<div class="container">
    <div class="page-header__content">
      <div class="site-branding">
        <a href="/">
          <img src="/assets/ViztNivlirLogo2.png" width="100rem" alt="Vizt Nivlir Logo"></img>
        </a>  
        <h1 class="site-title">vizt nivlir</h1>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          {# <li>
            <a href="/">Origin</a>
          </li> #}
          <li>
            <a href="/blog/">All Asides</a>
          </li>
          <li>
            <a href="https://viztnivlir.com" target="_blank" rel="noopener">Projects</a>
          </li>
          {# <li>
            <a href="/contact/">Contact</a>
          </li> #}
        </ul>
      </nav>
    </div>
  </div>
</header>