
<header class="page-header">
<div class="container">
    <div class="page-header__content">
      <div class="site-branding" translate="no">
        <a href="/">
          <img src="/assets/ViztNivlirLogo2.png" width="100rem" alt="Vizt Nivlir Logo"></img>
        </a>
        <a href="/" class="site-title-link">
          <h1 class="site-title notranslate" translate="no">vizt nivlir</h1>
        </a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          {# <li>
            <a href="/">Origin</a>
          </li> #}
          <li>
            <a href="/blog/" data-translate-es="Todos Apartes">All Asides</a>
          </li>
          <li>
            <a href="https://viztnivlir.com" target="_blank" rel="noopener" data-translate-es="Proyectos">Projects</a>
          </li>
          {# <li>
            <a href="/contact/">Contact</a>
          </li> #}
        </ul>
      </nav>
    </div>
  </div>
</header>