---
layout: 'base.njk'
title: Vizt Nivlir – Asides
---

<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Asides</h1>
        <p>This is not a blog in the usual sense.</p>
        <p>It is a collection of notes, margins, and observations made while building things that are meant to work — interfaces, systems, small pieces of order.</p>
        <p>Some entries begin as technical problems and end as reflections. Others do the opposite. Many are written while waiting for something to compile, deploy, or make sense.</p>
        <p>Nothing here is optimized for scale. Everything here is written to be read.</p>
        <p>You are welcome to browse. Linger if you like. These are asides, after all.</p>
        {# <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div> #}
      </div>
      <div>
        <img src="/assets/blog/vizt_at_home_3.jpg" alt="Vizt at home" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">From the Stack</h2>
    <p class="text-center">A handful of dispatches that speak, in part, for the whole.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%} 

    </ul>
  </div>
</section> 
